<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users: </h1>

<table>
    <tr>
        <th>NAME</th>
        <th>LASTNAME</th>
        <th>AGE</th>
    </tr>
    <tr th:each="u: ${users}" >
        <td th:text="${u.name}"></td>
        <td th:text="${u.lastName}"></td>
        <td th:text="${u.age}"></td>
    </tr>
</table>
<form action="add">
    <input type="submit" value="Add user" />
</form>
</body>
</html>